<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taxService" class="org.example.TaxService"/>

    <bean id="salaryService" class="org.example.SalaryService">
        <property name="taxService" ref="taxService"/>
    </bean>

</beans>
